/* CSS do Front-End principal / navegação */

body{
    padding: 0;
    margin: 0;
}
header a{
    text-decoration: none;
}
h1{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(0,128,250,98);
}
.navegação{
    position: relative;
    left: 1500px;
    bottom:65px;
    width: 75px;
    font-size: 25px;
    color:rgb(0,0,0);
    float: left;
    text-decoration:none;
    font-family:sans-serif;
}
.navegação:hover{
    color:rgb(0,128,250,98)
}
.butão{
    position: relative;
    left:1540px;
    bottom:65px;
    width:70px;
    height: 30px;
    background-color:rgb(0,128,250,98);
    color:white;
    border: none;
    border-radius: 15px;
}
.butão:hover{
    background-color: #0575E6;
}

/*Footer*/

#img1{
    position: relative;
    left: 880px;
    top:800px;
    width: 40px;
    height: 40px;
}
#img2{
    position: relative;
    left: 890px;
    top:800px;
    width: 40px;
    height: 40px;
}
#img3{
    position: relative;
    left: 900px;
    top:800px;
    width: 40px;
    height: 40px;
}
footer img{
    border-radius:50%;
}
#img1:hover{
    transition: 0.2s;
    top: 790px;
}
#img2:hover{
    transition: 0.2s;
    top: 790px;
}
#img3:hover{
    transition: 0.2s;
    top: 790px;
    
}



/*Responsividade navigation*/