/* CSS do Front-End principal / navegação */

body{
    padding: 0;
    margin: 0;
}
header a{
    text-decoration: none;
}
h1{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(0,128,250,98);
}
.navegação{
    position: relative;
    left: 1500px;
    bottom:65px;
    width: 75px;
    font-size: 25px;
    color:rgb(0,0,0);
    float: left;
    text-decoration:none;
    font-family:sans-serif;
}
.navegação:hover{
    color:rgb(0,128,250,98)
}
.butão{
    position: relative;
    left:1540px;
    bottom:65px;
    width:70px;
    height: 30px;
    background-color:rgb(0,128,250,98);
    color:white;
    border: none;
    border-radius: 15px;
}
.butão:hover{
    background-color: #0575E6;
}

/*Footer*/

footer{
    position: relative;
    top: 800px;
    background-color:#bdc3c7;
}
h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
address{
    margin: 10px;
    padding: 50px;
}
address p{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
address p:hover{
    color: white;
}
.imagens img{
    width: 40px;
    border-radius:50%;
}
.imagens img:hover{
    transition: 0.3s;
    position: relative;
    bottom: 50px;
}


section{
    display: flex;
    justify-content:center ;
}
section p{
    margin: 10px;
    font-size: 15px;
    text-align: center;
}
.imagens{
    display: flex;
    justify-content: center;
}
.imagens img{
    margin: 12px;
}
#img1:hover{
    transition: 0.3s;
    position: relative;
    bottom: 50px;
}



/*Responsividade navigation*/