/* CSS do Front-End principal / navegação */

body{
    padding: 0;
    margin: 0;
}
header a{
    text-decoration: none;
}
h1{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(0,128,250,98);
}
.navegação{
    position: relative;
    left: 1500px;
    bottom:65px;
    width: 75px;
    font-size: 25px;
    color:rgb(0,0,0);
    float: left;
    text-decoration:none;
    font-family:sans-serif;
}
.navegação:hover{
    color:rgb(0,128,250,98)
}
.butão{
    position: relative;
    left:1540px;
    bottom:65px;
    width:70px;
    height: 30px;
    background-color:rgb(0,128,250,98);
    color:white;
    border: none;
    border-radius: 15px;
}
.butão:hover{
    background-color: #0575E6;
}

/*Footer*/

footer{
    position: relative;
    top: 800px;
    height: 800px;;
    background-color:#bdc3c7;
}
h2{
    color: rgb(0,128,250,98);;
    text-align: center;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;

}
address{
    margin: 10px;
    padding: 50px;
}
address p{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
address a{
    text-decoration:none;
    color: rgb(0,0,0);
}
address a:hover{
    color: #0575E6;
    text-decoration: underline
}
address p:hover{
    color: white;
}
form{
    display: flex;
    flex-direction:column;
    position: relative;
    left: 780px;
    bottom: 300px;
    width: 350px;
    
}
form input{
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    border: solid 1px dimgray;
}
textarea{
    position: relative;
    left: 10px;
    width: 325px;
    border: solid 1px dimgray;
    border-radius: 5px;
}
form button{
    width: 130px;
    height: 35px;
    margin: 25px;
    border: none;
    border-radius:5px;
    color: white;
    background-color: rgb(0,128,250,98);
}
form button:hover{
    background-color: #0469C7;
}
.imagens{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 450px;
}
.imagens img{
    width: 40px;
    margin: 12px;
    border-radius:50%;
}
section{
    display: flex;
    justify-content:center ;
    position: relative;
    bottom: 375px;
}
section p{
    margin: 10px;
    font-size: 15px;
    text-align: center;
}

/*Responsividade navigation*/



ion-icon{

    color: #0469C7;
}
.mensage{
    text-align: center;
}
iframe{
    position: relative;
    bottom: 800px;
    margin: 20px;
    float: right;

}